


<div class= row>
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background-color: #fff;border-radius: 4px;">
         <hr/>
         <h4 class="heading text-center " style="background: olivedrab;padding: 1em;color: #fff;">Items on auction Details</h4>
         <hr/>
         <div class= row>
            <div class = "col-md-4">
               <img style="height: 20em; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
            </div>
            <div class = "col-md-4">
               <img style="height: 20em; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
            </div>
            <div class = "col-md-4">
               <img style="height: 20em; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
            </div>
         </div>
         <br/>
         <hr/>
         <div class="row">
            <div class="col-md-12">
                  <h4 class="pull-left" style ="font-weight:bold; color:black">Init Price: R300</h4>
                  <h4 class="pull-right" style ="font-weight:bold; color:black">Beating Price: R300</h4>
            </div>
         </div>
         <hr/>
         <app-product-comments></app-product-comments>
      </div>
   <div class="col-md-1"></div>
</div>




    
