
<div class="row"style="padding:1em;">
       <div class="col-md-12">
            <hr>
            <h4 class="heading text-center " style="color:#fff;background: #85e085;padding: 1em;">Items On Auction</h4>
            <hr>
       </div>
        <div class="col-md-3">
            <div class="card border-success mb-3 ">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> Cell Phone</h5>
                        <small>3 days ago</small>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center">Initial Price R4000.00</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
                <div class="card-footer text-center">
                 <!--   <button  type="button" class="btn btn-outline-primary" >View Product</button> -->
                 <a routerLink="/product-details" role="button" class="btn btn-outline-primary">View product</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mb-3 ">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> Car</h5>
                        <small>9 days ago</small>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center">Initial Price R40000.00</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
                <div class="card-footer text-center">
                    <a routerLink="/product-details" role="button" class="btn btn-outline-primary">View product</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mb-3 ">
                <div class="card-header" >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Suit</h5>
                        <small>19 days ago</small>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center">Initial Price R4000.00</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
                <div class="card-footer text-center">
                    <a routerLink="/product-details" role="button" class="btn btn-outline-primary">View product</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mb-3 ">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> Bicycle</h5>
                        <small>14 days ago</small>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center">Initial Price R800.00</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="assets/images/img_3.jpg" alt="Card image">
                <div class="card-footer text-center">
                    <a routerLink="/product-details" role="button" class="btn btn-outline-primary">View product</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
                <hr>
        </div>
</div>
